{{#each months}}

	<h1>{{momentFormat this.date "MMM"}}</h1>

	<table>
		<tr>
			<th>&nbsp;</th>
			{{#each ../fields}}
				<th>{{this}}</th>
			{{/each}}
		</tr>

		{{#each this.days}}
			<tr>
				<td>{{momentFormat this.dateMoment "Do"}}</td>
				{{#each this.values}}
					<td>{{this}}</td>
				{{/each}}
			</tr>
		{{/each}}

	</table>

{{/each}}

	<!-- {{#each days}}
		<tr>
			<td>{{day}}</td>
		</tr>
		<tr>
			{{#each keys}}
				<td>{{this}}</td>
			{{/each}}
		</tr>
		<tr>
			{{#each values}}
				<td>{{this}}</td>
			{{/each}}
		</tr>
	{{/each}} -->
</table>
