<script type="text/javascript">
	console.log('days', {{{daysJson}}});
	console.log('months', {{{monthsJson}}});
</script>

{{#each months}}

	<h1>{{momentFormat this.date "MMMM"}}</h1>

	<table cellspacing="0" cellpadding="0">
		<tr>
			<th class="date">&nbsp;</th>
			<th class="temp-low">Low</th>
			<th class="temp-high">High</th>
			<th class="rain-prob">💧Prob.</th>
			<th class="rain-int">💧Int.</th>
			<th class="rain-int-max">💧Int. Max.</th>
			<th class="humidity">Humidity</th>
			<th class="clouds">Clouds</th>
			<th class="dew">Dew</th>
			<th class="pressure">Pressure</th>
			<th class="ozone">Ozone</th>
		</tr>

		{{#each this.days}}
			<tr>
				<td class="date">{{momentFormat this.dateMoment "Do"}}</td>
				<td class="temp-low">{{temperatureF this.data.apparentTemperatureLow}}</td>
				<td class="temp-high">{{temperatureF this.data.apparentTemperatureHigh}}</td>
				<td class="rain-prob">{{percentage this.data.precipProbability}}</td>
				<td class="rain-int">{{intensity this.data.precipIntensity}}</td>
				<td class="rain-int-max">{{intensity this.data.precipIntensityMax}}</td>
				<td class="humidity">{{percentage this.data.humidity}}</td>
				<td class="clouds">{{percentage this.data.cloudCover}}</td>
				<td class="dew">{{temperatureF this.data.dewPoint}}</td>
				<td class="pressure">{{pressure this.data.pressure}}</td>
				<td class="ozone">{{ozone this.data.ozone}}</td>
			</tr>
		{{/each}}

	</table>

{{/each}}
