{{#each months}}

	<h1>{{@index}}</h1>

	<table>
		<tr>
			{{#each fields}}
				<th>{{this}}</th>
			{{/each}}
		</tr>
	</table>

{{/each}}

	<!-- {{#each days}}
		<tr>
			<td>{{day}}</td>
		</tr>
		<tr>
			{{#each keys}}
				<td>{{this}}</td>
			{{/each}}
		</tr>
		<tr>
			{{#each values}}
				<td>{{this}}</td>
			{{/each}}
		</tr>
	{{/each}} -->
</table>
