<script type="text/javascript">
	console.log('days', {{{daysJson}}});
	console.log('months', {{{monthsJson}}});
</script>

{{#each months}}

	<h1>{{momentFormat this.date "MMM"}}</h1>

	<table>
		<tr>
			<th>&nbsp;</th>
			<th>Low</th>
			<th>High</th>
			<th>Rain Probability</th>
			<th>Rain Intensity</th>
			<th>Rain Intensity Max</th>
			<th>Humidity</th>
			<th>Clouds</th>
			<th>Dew</th>
			<th>Pressure</th>
			<th>Ozone</th>
		</tr>

		{{#each this.days}}
			<tr>
				<td>{{momentFormat this.dateMoment "Do"}}</td>
				<td>{{this.data.apparentTemperatureLow}}</td>
				<td>{{this.data.apparentTemperatureHigh}}</td>
				<td>{{this.data.precipProbability}}</td>
				<td>{{this.data.precipIntensity}}</td>
				<td>{{this.data.precipIntensityMax}}</td>
				<td>{{this.data.humidity}}</td>
				<td>{{this.data.cloudCover}}</td>
				<td>{{this.data.dewPoint}}</td>
				<td>{{this.data.pressure}}</td>
				<td>{{this.data.ozone}}</td>
			</tr>
		{{/each}}

	</table>

{{/each}}

	<!-- {{#each days}}
		<tr>
			<td>{{day}}</td>
		</tr>
		<tr>
			{{#each keys}}
				<td>{{this}}</td>
			{{/each}}
		</tr>
		<tr>
			{{#each values}}
				<td>{{this}}</td>
			{{/each}}
		</tr>
	{{/each}} -->
</table>
